@use '../../styles/breakpoints' as breakpoints;

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) translateY(#{breakpoints.scale(-16px)});
        opacity: 0.48;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.loadingPlaceholder {
    background-color: #F2F4F7;
    position: relative;
    overflow: hidden;
    border-radius: breakpoints.scale(12px);

    .loadingIcon {
        width: breakpoints.scale(320px);
        height: breakpoints.scale(320px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: bounce 4s infinite;
    }
}
