@use '../../../styles/breakpoints' as breakpoints;

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  /* BASE */
  
  border-radius: breakpoints.scale(6px);
  box-shadow: var(--base-shadow);
  font-weight: 600;
  letter-spacing: 0%;

  white-space: nowrap;

  &.fullWidth {
    width: 100%;
  }

  /* SIZES */

  &.small {
    gap: breakpoints.scale(6px);
    padding: breakpoints.scale(10px) breakpoints.scale(12px);
    font-size: breakpoints.scale(14px);
    line-height: breakpoints.scale(20px);
    height: breakpoints.scale(40px);
  }

  &.medium {
    gap: breakpoints.scale(8px);
    font-size: breakpoints.scale(16px);
    line-height: breakpoints.scale(24px);
    padding: breakpoints.scale(10px) breakpoints.scale(18px);
    height: breakpoints.scale(44px);
  }

  &.large {
    gap: breakpoints.scale(12px);
    font-size: breakpoints.scale(18px);
    line-height: breakpoints.scale(28px);
    padding: breakpoints.scale(16px) breakpoints.scale(28px);
    height: breakpoints.scale(60px);
  }

  &.iconOnly {
    gap: 0;
    
    &.small {
      padding: breakpoints.scale(10px);
    }

    &.medium {
      padding: breakpoints.scale(12px);
    }

    &.large {
      padding: breakpoints.scale(16px);
    }
  }

  /* COLORS */

  &.primary {
    background-color: var(--primary-color);
    color: var(--primary-contrast-color);
    border: 1px solid var(--primary-color)
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-contrast-color);
    border: 1px solid var(--secondary-border-color);
  }

  &.disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-color);
    border: 1px solid var(--disabled-border-color);
    cursor: not-allowed;
  }

  &:hover:not(.disabled) {
    filter: brightness(0.96);
  }

  &:focus-visible:not(.disabled) {
    box-shadow: var(--base-shadow), var(--selected-shadow);
  }

  &:active:not(.disabled) {
    filter: brightness(0.92);
  }
}
