@use '../../../styles/breakpoints' as breakpoints;

.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

@include breakpoints.page-min-down {
  .m-direction-row {
    flex-direction: row;
  }

  .m-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .m-direction-column {
    flex-direction: column;
  }

  .m-align-start {
    align-items: flex-start;
  }

  .m-align-center {
    align-items: center;
  }

  .m-align-end {
    align-items: flex-end;
  }

  .m-justify-start {
    justify-content: flex-start;
  }

  .m-justify-center {
    justify-content: center;
  }

  .m-justify-end {
    justify-content: flex-end;
  }

  .m-justify-between {
    justify-content: space-between;
  }
}
