@use '../../../styles/breakpoints' as breakpoints;

.button {
  display: inline-flex;
  align-items: center;
  gap: breakpoints.scale(8px);
  padding: breakpoints.scale(2px);
  border: none;
  background: none;
  color: var(--tertiary-text-color);
  cursor: pointer;
  font-family:
    'Fixel Text',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: 600;
  font-size: breakpoints.scale(16px);
  line-height: breakpoints.scale(24px);
  letter-spacing: 0;

  white-space: nowrap;

  &:hover:not(:disabled) {
    filter: brightness(0.88);
  }

  &:active:not(:disabled) {
    filter: brightness(0.76);
  }
}
