@use '../../styles/breakpoints' as breakpoints;

.page {
  width: min(1120px, calc(100vw - #{breakpoints.scale(40px)}));
  margin: 0 auto;
  padding: breakpoints.scale(32px) 0;
}

@include breakpoints.page-content-down {
  .page {
    width: min(700px, calc(100vw - #{breakpoints.scale(40px)}));
  }
}

@include breakpoints.page-min-down {
  .page {
    width: calc(100vw - #{breakpoints.scale(40px)});
  }
}
