.page {
  width: 1120px;
  margin: 0 auto;
  padding: 32px 0;
}

@media (max-width: 1200px) {
  .page {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .page {
    width: calc(100vw - 40px);
    padding: 20px 0;
  }
}
