@use '../../styles/breakpoints' as breakpoints;

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: breakpoints.scale(24px);
    column-gap: breakpoints.scale(16px);
    margin-bottom: breakpoints.scale(48px);

    @include breakpoints.page-min-down {
        grid-template-columns: 1fr;
    }
}

.empty {
    margin-bottom: breakpoints.scale(24px);

    .emptyTitle {
        margin-bottom: breakpoints.scale(8px);
    }

    .emptyDescription {
        margin-bottom: breakpoints.scale(16px);
    }
}
