@use '../../styles/breakpoints' as breakpoints;

.baseItem {
    background-color: var(--base-text-color);
    height: breakpoints.scale(8px);
    border-radius: breakpoints.scale(4px);

    opacity: 0.24;
    &.completed {
        opacity: 1;
    }

    &.dot {
        width: breakpoints.scale(8px);
    }

    &.pill {
        width: breakpoints.scale(32px);
    }
}
