@use '../../../styles/breakpoints' as breakpoints;

.field {
  margin-bottom: breakpoints.scale(16px);
  width: 100%;
}

.label {
  display: block;
  margin-bottom: breakpoints.scale(6px);
  color: var(--input-label-color);
  font-size: breakpoints.scale(14px);
  line-height: breakpoints.scale(20px);
}

.bottomLabel {
  margin-top: breakpoints.scale(6px);
  color: var(--input-bottom-label-color);
  font-size: breakpoints.scale(14px);
  line-height: breakpoints.scale(20px);
}

.error {
  color: var(--error-color);
}
