@use '../../styles/breakpoints' as breakpoints;

.card {
    background: #F2F4F7;
    padding: breakpoints.scale(24px);
    border-radius: breakpoints.scale(12px);
    display: flex;
    flex-direction: column;

    .content {
        white-space: pre-wrap;
        margin-bottom: breakpoints.scale(16px);
        flex-grow: 1;

        word-break: break-word;

        .textParagraph {
            margin-bottom: breakpoints.scale(18px);
        }
    }

    .content.limitedHeight {
        height: breakpoints.scale(152px);
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: breakpoints.scale(-8px);
            left: 0;
            width: 100%;
            height: breakpoints.scale(40px);
            background: linear-gradient(to bottom, transparent 0%, #F2F4F7 100%);
        }
    }
}
