@use '../../styles/breakpoints' as breakpoints;

.banner {
    background-color: #EDFCF2;
    padding: breakpoints.scale(54px);
    margin-bottom: breakpoints.scale(88px);

    .content {
        max-width: breakpoints.scale(480px);
        text-align: center;
    }
}
